<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Cards of the Day!</h1>
    <p>Hello these are the cards for today!</p>
    <% cards.forEach(function(c){ %>
    <tr>
      <!-- <td><%= c.id %></td>
      <td><%= c.name %></td>
      <td><%= c.atk %></td>
      <td><%= c.def %></td>
      <td><%= c.type %></td>
      <td><%= c.level %></td> -->
      <td>
        <img src=" <%= c.image %>" />
        <form method="GET" action="/save">
          <button>Save Card to your Collection</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </body>
</html>
