<!DOCTYPE html>
<html>

<head>
  <title>Welcome!</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1><b>Choose your cards!</b></h1>
  <p>This the the YuGiOh Cards list!</p>
  <form method="GET" action="/home">
    <button>Main Page</button>
  </form>
  <form method="GET" action="/myCollection">
    <button>My Collection</button>
  </form>
  <form method="POST" action="/cards/request">
    <input type="text" name="search" placeholder="Search by Card Name..." autocomplete="off">
    </input>

    <!-- <input type="number" name="searchlevel" placeholder="Search by Level..." autocomplete="off">
    </input>

    <input list="list1" type="text" name="searchtype" placeholder="Search by Type..." autocomplete="off"><datalist
      id="list1">
      <option value="type=Effect Monster">
      <option value="Flip Effect Monster">
      <option value="Flip Tuner Effect Monster">
      <option value="Gemini Monster">
      <option value="Normal Monster">
      <option value="Normal Tuner Monster">
      <option value="Pendulum Effect Monster">
      <option value="Pendulum Flip Effect Monster"></option>
      <option value=Pendulum Normal Monster">
      <option value="Pendulum Tuner Effect Monster">
      <option value="Ritual Effect Monster">
      <option value="Ritual Monster">
      <option value="Skill Card">
      <option value="Spell Card">
      <option value="Spirit Monster">
      <option value="Toon Monster">
      <option value="Trap Card">
      <option value="Tuner Monster">
      <option value="Union Effect Monster">
      <option value="Fusion Monster">
      <option value="Link Monster">
      <option value="Pendulum Effect Fusion Monster">
      <option value="Synchro Monster">
      <option value="Synchro Pendulum Effect Monster">
      <option value="Synchro Tuner Monster">
      <option value="XYZ Monster">
      <option value="XYZ Pendulum Effect Monster">
    </datalist>
    </input>

    <input list="list2" type="text" name="searchrace" placeholder="Search by Race..." autocomplete="off"><datalist
      id="list2">
      <option value="Aqua">
      <option value="Beast">
      <option value="Beast-Warrior">
      <option value="Creator-God">
      <option value="Cyberse">
      <option value="Dinosaur">
      <option value="Divine-Beast
          ">
      <option value="Dragon">
      <option value="Fairy">
      <option value="Fiend
              ">
      <option value="Fish">
      <option value="Insect
      ">
      <option value="Machine
                  ">
      <option value="Plant">
      <option value="Psychic">
      <option value="Pyro
                      ">
      <option value="Reptile">
      <option value="Rock">
      <option value="Sea Serpent

                          ">
      <option value="Spellcaster
      ">
      <option value="Thunder">
      <option value="Warrior">
      <option value="Winged Beast
      ">
      <option value="Normal">
      <option value="Field">
      <option value="Equip
        ">
      <option value="Continuous">
      <option value="Quick-Play
            ">
      <option value="Ritual">
      <option value="Counter"> -->
<!-- 
      </option>
    </datalist> -->
    <!-- </input> -->
    <button type="submit">Filter Cards</button>
  </form>
  <% displayCards.forEach(function(c){ %>
  <!-- <div id="image">
        <!-- <td><%= c._id %></td>
        <td><%= c.name %></td>
        <td><%= c.atk %></td>
        <td><%= c.def %></td>
        <td><%= c.type %></td>
        <td><%= c.level %></td> -->
  <!-- <img src="<%= c.image %>" /> -->
  <!-- </div> -->

  <form method="POST" action="/save">
    <input name="name" value="<%= c.name %>" type="hidden">
    <input name="id" value="<%= c.id %>" type="hidden">
    <input name="image" value="<%= c.image %>" type="hidden">
    <input name="atk" value="<%= c.atk %>" type="hidden">
    <input name="def" value="<%= c.def %>" type="hidden">
    <input name="type" value="<%= c.type %>" type="hidden">
    <input name="level" value="<%= c.level %>" type="hidden">
    <div>
      <img src="<%= c.image %>" />
      <button type="Submit">Save to your Collection</button>
    </div>
  </form>

  </td>
  </tr>
  <% }); %>
</body>

</html>