<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>My Collection</h1>
    <form method="GET" action="/cards">
    <button>Go Back to Card List </button>
    </form>
    <form method="GET" action="/home">
      <button>Main Page</button>
      </form>
    <p>These are the cards you have saved in your collection!</p>
    <% cards.forEach(function(c){ %>
      <form method="POST" action="/delete/?_method=DELETE">
        <input name="name" value="<%= c.name %>" type="hidden">
        <input name="id" value="<%= c.id %>" type="hidden">
        <input name="image" value="<%= c.image %>" type="hidden">
        <input name="atk" value="<%= c.atk %>" type="hidden">
        <input name="def" value="<%= c.def %>" type="hidden">
        <input name="type" value="<%= c.type %>" type="hidden">
        <input name="level" value="<%= c.level %>" type="hidden">
        <input name="_id" value="<%= c._id %>" type="hidden">
        <div id="image">
          <img src="<%= c.image %>" />
          <button type="Submit">Delete Card from your Collection</button>
        </div>
      </form>
      <% }); %>
  
    </div>
    <!-- </td>
    </tr> -->
  </body>
</html>
